body{
    /* width: 100vw; */
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif !important;
    font-family: "Work Sans", sans-serif !important;
    /* background-color:    ; */
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    background: url(../Bg.jpg);
    /* background: url(https://app.flocus.com/resources/images/themes/115716ff2673a42650ae.jpg); */
    /* background: url(https://images.unsplash.com/photo-1701926948435-9e964c90df3c?q=80&w=1243&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background: url(https://i.pinimg.com/originals/da/71/bc/da71bccc03313f65ba9005d96b373d69.gif); */
    /* background: url(https://i.pinimg.com/originals/5b/9f/28/5b9f288b540419cd82193cc91e516e9e.gif); */
    background-size: cover ;
    
}

button{
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    background: none;
    border: 2px solid white;
    color: white;
}
button:hover{
    background-color: white;
    color: black;
}

/* ------------------------ */
.container{
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.321);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.156);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noises{
    margin: 0% 30%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2rem;
    margin: 2rem 3rem;
}
.noises>button{
    margin: 0px 1rem;
}
.noises>button:hover{
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    transition: .5s;
}
/* ---------------------- */
.noises>button{
    font-size: 1.2rem;
    color: white;
    padding: 1rem 1.2rem ;
    margin:  1px 10px;
    text-align: center;
    text-transform: uppercase;
}

.active{
    background-color: white !important;
    color: black  !important    ;
}
/* ---------------------- */
::-webkit-scrollbar{
    display: none !important;
}